blue-1 = #3498DB
blue-2 = #2980B9
blue-3 = #34495E
blue-4 = #2C3E50
blue-5 = #22313f

green-1 = #1abc9c
green-2 = #16A085

yellow-1 = #F1C40F
yellow-2 = #F39C12
yellow-3 = #E67E22
yellow-4 = #D35400

red-1 = #E74C3C
red-2 = #C0392B

grey-1 = #ECF0F1
grey-2 = #BDC3C7
grey-3 = #95A5A6
grey-4 = #7F8C8D

black-05 = rgba(black, 0.5)
black-02 = rgba(black, 0.5)
