.icon
  position relative
  display inline-block
  vertical-align middle
  background 100% no-repeat
  background-size 100%
  width 24px
  height 24px

.icon-logo
  background-image url('../../images/icons/logo.png')
