/* Devices width */
media-phone = "screen and (min-width: 0) and (max-width: 599px)"
media-phone-portrait = media-phone + " and (orientation: portrait)"
media-phone-landscape = media-phone + " and (orientation: landscape)"

media-tablet = "screen and (min-width: 600px) and (max-width: 1024px)"
media-tablet-portrait = media-phone + " and (orientation: portrait)"
media-tablet-landscape = media-phone + " and (orientation: landscape)"

media-desktop = "screen and (min-width: 1025px)"

/* Global */
max-app-width = 100%
min-app-width = 320px

min-app-height = 320px
max-app-height = 100%

/* Buttons */
round-button-size-desktop = 50px
round-button-size-phone = 40px

/* Header */
header-height-desktop = 80px
header-height-phone = 60px
header-control-width-desktop = 50px
header-control-width-phone = 40px

/* Menu */
menu-width = 200px

/* Popup */
popup-width = 600px
