user-auth.auth.popup-wrapper(popup)
  .auth-popup-content.auth-popup-content-controls.popup-content
    .button.button-round.auth-social-button
      .icon.auth-social-icon.icon-fcbk
    .button.button-round.auth-social-button
      .icon.auth-social-icon.icon-twttr
    .button.button-round.auth-social-button
      .icon.auth-social-icon.icon-ggl
    .button.button-round.auth-social-button
      .icon.auth-social-icon.icon-vkntkt

  .auth-popup-content.popup-content.rect-block
    form(ng-submit='userAuth.authenticate()')
      input(type='email', name='email', ng-model='userAuth.email', required)
      input(type='password', name='password', ng-model='userAuth.password', required)
      button Отправить
