html, body
  display block
  width 100%
  height 100%
  margin 0
  padding 0

.app-container
  position relative

  flex-display flex
  flex-flow column wrap
  flex-align-content flex-start
  width 100%
  height 100%
  overflow hidden
  
  background url("../../images/background.jpg") no-repeat
  background-size cover
