.header
  position relative
  top 0
  left 0

  flex-display flex
  flex-direction row
  flex-justify-content space-between
  flex-align-items center
  flex-wrap nowrap
  flex 0 0 header-height-desktop
  box-sizing border-box

  @media media-phone
    flex 0 0 header-height-phone


/* Logo */

.header-logo
  flex-display flex
  flex-align-items center
  height 100%

.header-logo-icon
  width header-height-desktop - 20
  height header-height-desktop - 20
  margin 0 10px
  box-sizing border-box

  border-radius 50%
  background-color white

  @media media-phone
    width header-height-phone - 10
    height header-height-phone - 10

.header-logo-label
  font-size 24px

  @media media-phone
    font-size 22px
    transition opacity 0.2s ease-in

    &.transparent
      opacity 0.2


/* Controls */

.header-controls
  position absolute
  top 15px
  right 0

  max-width 100%
  height header-control-width-desktop
  padding-bottom 7px
  overflow hidden

  transition all 0.4s ease-in
  transform translateZ(0)

  &.visible
    opacity 1

  &.collapsed
    max-width header-control-width-desktop + 15
    transition all 0.3s ease-out

  @media media-phone
    top 10px
    height header-control-width-phone
    opacity 0

    &.collapsed
      max-width header-control-width-phone + 10


.header-control
  width header-control-width-desktop
  height header-control-width-desktop
  margin-right 15px
  margin-bottom 7px
  vertical-align middle

  &.expanded
    width header-control-width-desktop - 2
    height header-control-width-desktop - 2
    display none

  &.collapsed
    position absolute
    top 0
    right 0

    display none
    width header-control-width-desktop
    height header-control-width-desktop

    background-color transparent
    cursor pointer

    &::after
      position absolute
      top 1px
      left 16%
      z-index -1

      display block
      width header-control-width-desktop - 2
      height header-control-width-desktop - 2
      border-radius 50%

      content ''
      background-color white

  .collapsed &
    &.collapsed
      display block

  @media media-phone
    width header-control-width-phone
    height header-control-width-phone
    margin-right 10px

    &.expanded
      width header-control-width-phone - 2
      height header-control-width-phone - 2
      display inline-block

    &.collapsed
      width header-control-width-phone
      height header-control-width-phone

      &::after
        width header-control-width-phone - 2
        height header-control-width-phone - 2
