.menu
  position absolute
  top 0
  left -1 * menu-width
  z-index 1

  flex-display flex
  width menu-width
  height 100%
  margin 0
  padding header-height-desktop + 20 0 0
  box-sizing border-box
  overflow-x hidden
  overflow-y hidden

  @media media-desktop
    left 0

  @media media-phone
    padding header-height-phone + 10 0 0

.menu-items
  width 100%
  margin 0
  padding 0

.menu-item
  position relative

  flex-display flex
  flex-align-items center
  width 100%
  height 80px

  color grey-5
  cursor pointer
  transition all 0.2s ease-out

  &.active
    color blue-1

  @media media-phone
    height 64px

.menu-item-button
  width 50px
  height 50px
  margin 0 15px
  box-sizing border-box

  @media media-phone
    width 40px
    height 40px

.menu-tem-label
  font-size 16px


