.menu
  position absolute
  top 0
  left -1 * menu-width
  z-index 1

  flex-display flex
  width menu-width
  height 100%
  margin 0
  padding header-height-desktop + 20 0 0
  box-sizing border-box
  overflow-x hidden
  overflow-y hidden

  @media media-desktop
    left 0

  @media media-tablet
    display none
    width 100%

    will-change left

  @media media-phone
    display none
    width 100%
    padding header-height-phone + 10 0 0

    will-change left

.menu-items
  width menu-width
  margin 0
  padding 0

.menu-item
  position relative

  flex-display flex
  flex-align-items center
  width 100%
  height 80px

  color grey-5
  cursor pointer
  transition all 0.2s ease-out

  &.active
    color white

  @media media-phone
    height 64px

.menu-item-button
  width round-button-size-desktop
  height round-button-size-desktop
  margin 0 15px
  box-sizing border-box

  @media media-phone
    width round-button-size-phone
    height round-button-size-phone

.menu-item-label
  font-size 16px

.menu-collapse
  position absolute
  top 0
  left 0
  z-index -1

  width 100%
  height 100%

  @media media-desktop
    display none

