background-size()
  -moz-background-size arguments
  -webkit-background-size arguments
  background-size arguments

background-linear-gradient()
  background-image -moz-linear-gradient(arguments)
  background-image -ms-linear-gradient(arguments)
  background-image -o-linear-gradient(arguments)
  background-image -webkit-linear-gradient(arguments)
  background-image linear-gradient(arguments)

box-sizing()
  -moz-box-sizing arguments
  -webkit-box-sizing arguments
  box-sizing arguments

border-radius()
  -moz-border-radius arguments
  -webkit-border-radius arguments
  border-radius arguments

transition()
  -moz-transition arguments
  -o-transition arguments
  -webkit-transition arguments
  transition arguments

transform()
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  -webkit-transform arguments
  transform arguments

animation()
  -webkit-animation arguments
  -moz-animation arguments
  -ms-animation arguments
  -o-animation arguments
  animation arguments

animation-play-state()
  -moz-animation-play-state arguments
  -o-animation-play-state arguments
  -webkit-animation-play-state arguments
  animation-play-state arguments

user-select()
  -webkit-user-select arguments
  -khtml-user-select arguments
  -moz-user-select arguments
  -ms-user-select arguments
  user-select arguments

flex-display()
  display -webkit-flex
  display flex

flex-inline-display()
  display -webkit-flex
  display flex

flex-direction()
  -webkit-flex-direction arguments
  flex-direction arguments

flex-wrap()
  -webkit-flex-wrap arguments
  flex-wrap arguments

flex-flow()
  -webkit-flex-flow arguments
  flex-flow arguments

flex-justify-content()
  -webkit-justify-content arguments
  justify-content arguments

flex-align-items()
  -webkit-align-items arguments
  align-items arguments

flex-align-content()
  -webkit-align-content arguments
  align-content arguments

flex-order()
  -webkit-order arguments
  order arguments

flex-grow()
  -webkit-flex-grow arguments
  flex-grow arguments

flex-shrink()
  -webkit-flex-shrink arguments
  flex-shrink arguments

flex-basis()
  -webkit-flex-basis arguments
  flex-basis arguments

flex-self()
  -webkit-flex-self arguments
  flex-self arguments

flex()
  -webkit-flex arguments
  flex arguments
