.auth
  //

.auth .popup-content-wrapper
  max-width popup-small-width

.auth-popup-content
  //

.auth-popup-content-controls
  flex-display flex
  flex-wrap nowrap
  flex-justify-content space-around

.auth-social-button
  flex-display flex
  flex-justify-content center
  flex-align-items center

  width round-button-size-desktop
  height round-button-size-desktop

  background-color white

  @media media-phone
    width round-button-size-phone
    height round-button-size-phone

.auth-social-icon
  width 34px
  height 34px
  background-size 36px 36px

  @media media-phone
    width 28px
    height 28px
    background-size 30px 30px
