menu.menu
  ul.menu-items
    li.menu-item(ui-sref='search', ui-sref-active='active')
      .menu-item-button.button.button-round.icon.icon-search
      .menu-item-label Поиск

    li.menu-item(ui-sref='cabinet', ui-sref-active='active')
      .menu-item-button.button.button-round.icon.icon-cabinet
      .menu-item-label Кабинет

    li.menu-item(ui-sref='catalog', ui-sref-active='active')
      .menu-item-button.button.button-round.icon.icon-catalog
      .menu-item-label Каталог

