doctype html
html(lang='ru', ng-app='engineerium')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='stylesheet', href='/static/client/stylesheets/app.build.min.css')
  body
    app-container.app-container
      include ./_header
      include ./_menu
      include ./_content

    script(src='/static/client/scripts/lib.build.min.js')
    script(src='/static/client/scripts/app.build.js')
    script(src='/static/client/templates/client-side.build.js')
